* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

.container {
    max-width: 1190px;
    width: 100%;
    margin: auto;
    padding: 0 15px 0 15px;
}

.container-2{
    max-width:1920px;
    width:100%;
    margin:auto;
    padding: 0 15px 0 15px;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

h2 {
    font-size: 41px;
    font-weight: bold;
    color: #27AE60
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    padding-top: 25px;
    background: url(img/background-banner.jpg) no-repeat center;
    background-size: cover;
}

.header-navigation {
    display: flex;
}

.header-navigation-title {
    font-size: 18px;
    font-weight: bold;
    margin-right: 204px;
}

.header-navigation-list {
    display: flex;
    flex-wrap: wrap;
}

.header-navigation-item {
    margin-right: 110px;
    font-size: 14px;
}

.header-navigation-item:hover {
    color: #27AE60;
}

.header-delivery-mom {
    display: flex;
    position: relative;
}

.delivery {
    width: 43%
}

.delivery-title {
    width: 100%;
    margin: 284px 15px 0 0;
}

.delivery-slogan {
    width: 70%;
    font-size: 23px;
    margin-top: 31px;
    margin-bottom:57px;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 233px;
    height: 57px;
    border-radius: 65px;
    border: 1px solid #000000;
    background-color: #27AE60;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: left;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
}

.btn:focus{
    outline-style: none;
}



.btn::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    width: 245px;
    height: 67px;
    border: 1px solid rgba(25, 130, 189, .11);
    border-radius: 65px;
    top: -5.5px;
    left: -7px;
}

.order-btn-text {
    margin-left: 30px;
}

.btn-arrow {
    position: relative;
    display: block;
    width: 43px;
    height: 43px;
    background-color: #35B86C;
    border-radius: 50%;
    margin-right: 7px;
}

.btn-arrow::after {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 14px;
    background: url(img/arrow.svg);
    top: 14px;
    right: 12px
}

.header-mom {
    position: relative;
    margin-top: 270px;
    margin-left: 62px;
}

.header-mom-item {
    margin-bottom: 140px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.header-mom-item:nth-child(3) {
    margin: 0;
}

.header-mom-item:nth-child(2) {
    margin-left: -24px
}

.mom-item-circle {
    position: relative;
    box-sizing: border-box;
    width: 17.5px;
    height: 17.5px;
    margin-left: 14px;
    background-color: #27AE60;
    border: 0px;
    border-radius: 50%;
    opacity: 0.53;

}

.mom-item-circle::after {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 28.5px;
    height: 28.5px;
    border: 1px solid #27AE60;
    border-radius: 50%;
    top: -5.5px;
    left: -5.5px;
    opacity: 0.53;
}

.header-circle {
    position: absolute;
    width: 420px;
    height: 420px;
    background: url(img/header-circle.svg) no-repeat center;
    top: -70px;
    left: 133px
}

.header-circle::after {
    content: '';
    display: block;
    position: absolute;
    width: 502px;
    height: 502px;
    box-sizing: border-box;
    border: 1px solid #27AE60;
    border-radius: 50%;
    top: -41px;
    left: -41px;
    opacity: 0.1;
}

.header-image-list {
    position: absolute;
    top: -190px;
    left: -110px;

}

.image-expectant {}

.image-woman-apple {
    display: none;
}

.image-woman-child {
    display: none;
}

.advantages{
    width:100%;
    background-color: #27AE60;
    padding-top: 68px;
    margin-top: 390px;
}

.advantages .container-2{
    display: flex;
    position: relative;
}

.advantages-doctor {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 40%;
    margin-bottom: -25px
}

.advantages-doctor-photo {
    position: absolute;

}

.advantages-doctor-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 337px;
    height: 62px;
    border: 1px dashed rgba(25, 130, 189, .21);
    ;
    background-color: #FFFFFF;
    border-radius: 65px;
}

.advantages-doctor-card::before {
    content: '';
    display: block;
    position: absolute;
    width: 338px;
    height: 63px;
    border: 5px solid white;
    border-radius: 65px;
}

.advantages-doctor-name {
    font-size: 16px;
    margin-bottom: 5px;
}

.advantages-doctor-position {
    font-size: 14px;
    color: #6C997F
}

.advantages-list {
    width: 60%;
}

.advantages-list-title {
    color: white;
}

.advantages-list-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 40px 42px;
    max-width: 791px;
    height: 122px;
    margin: 58px 0 83px 0;
    font-size: 20px;
    color: white;
}

.advantages-item {
    position: relative;
    padding-left: 39px;
    margin-bottom: 19px;
}

.advantages-item::after {
    content: '';
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    background: url(img/checkmark-proper-diet.svg) no-repeat center;
    left: 10px;
    top: 2px;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    padding-top: 155px;
}

.products-title-btn{
    position: relative;
}

.products-title{
    max-width: 511px;
    text-align: center;
}

.products-btn{
    position: absolute;
    width:53px;
    height:53px;
    border:none;
    border-radius: 50%;
    background-color:#27AE60;
    top:340px;
    z-index: 1;
}

.products-btn::after{
    content: '';
    display: block;
    position: absolute;
    padding: 5px;
    border-left:2px solid white;
    border-top:2px solid white;
    top:20px;
    left:19px;
    transform: rotate(-225deg);
}

.products-btn-right{
    left:-148px;
    transform: rotate(-180deg)
}

.products-btn-left{
    right:-125px;
}

.products-list {
    display: flex;
    justify-content: space-around;
    margin-top:84px;
}

.products-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    overflow: hidden;
    border-radius: 10px;
}

.products-opacity{
    opacity: 0.3;
}

.products-item-title{
    margin-top:25px;
    margin-bottom:15px;
}

.products-item-text{
    padding:0 30px;
    text-align: center;
    color:#6C997F;
    font-weight: 600;
}

.why{
    padding-top:200px;
    background: url(img/background-delivery.jpg) no-repeat center;
    background-size: cover;
}

.why .container-2{
    display: flex;
    justify-content: center;
    background: url(img/tree.png) no-repeat 0px 150px
}

.why-image{

}

.why-list{
    width:520px;
    margin:100px 0 0 -350px;
}

.why-list-items{
    margin-top:85px;
}

.why-item{
    position: relative;
    padding-left:90px;
    margin-bottom:37px;
}

.why-item::before{
    content: '';
    display: block;
    position: absolute;
    width:60px;
    height:60px;
    background: url(img/leaf.svg) no-repeat center white;
    border-radius: 50%;
    left:10px;
    box-shadow: 0 0 35px 1px rgba(25, 130, 189, 0.18)
}

.why-item:nth-child(2)::before{
    background: url(img/checkmark.svg) no-repeat center white;
}

.why-item:nth-child(3)::before{
    background: url(img/curved-arrow.svg) no-repeat center white;
}

.why-item:nth-child(4)::before{
    background: url(img/health-care.svg) no-repeat center white;
}

.why-item-title{
    margin-bottom:11px;
}

.why-item-text{
    font-size:18px;
}

.instagram{
    display: flex;
    flex-direction: column;
    align-items: center
}

.instagram-title{
    margin-bottom:11px;
}

.order{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-subtitle{
    margin:22px 0 65px 0;
}

.order-form{
    display: flex;
}

.order-form-input{
    box-sizing: border-box;
    width:403px;
    margin-right: 17px;
    padding-left:45px;
    background-color: #E8F7EE;
    border: none;
    border-radius: 65px;
    outline-style: none;
}

.order-form-input::placeholder{
    color:#B2DAC2;
    font-size: 14px;
}

.footer{
    padding-top:50px;
    margin-top:167px;
    background-color: #27AE60;
}

.footer .container{
    display: flex;
    flex-direction: column;
}

.footer-title{
    margin-bottom:40px;
    font-size:18px;
    color:white;
    font-weight: bold;
}

.footer-navigation{
    display:flex;
}